.container {
  position: relative;
  width: 350px;
  min-height: 45px;
  border: 1px solid var(--border-color);
  border-radius: var(--box-border-radius);
  display: flex;
  align-items: center;

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;
    font-size: 14px;
    padding: 5px;
  }

  .arrowDown {
    margin-left: auto;
    padding-right: 15px;
    font-size: 0.8rem;
    color: var(--bg-gray800);
  }

  .inputContainer {
    position: relative;
    display: inline-block;
    flex: 1;

    .input {
      all: unset;
      max-width: 100%;
      width: 100%;
    }
  }
}
