.list {
  position: relative;
  width: 350px;
  min-height: 35px;
  border: 1px solid var(--border-color);
  border-radius: var(--box-border-radius);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
  column-gap: 10px;
  font-size: 14px;
  padding: 5px;

  .arrowDown {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;

    color: var(--bg-gray800);
  }
}

.inputContainer {
  position: relative;
  display: inline-block;
  flex: 1;

  .input {
    all: unset;
    max-width: 100%;
    width: 100%;
  }
}
