.item {
  display: flex;
  align-items: center;
  gap: 15px;

  .img {
    width: 35px;
    height: 35px;
    border-radius: 8px;
  }

  .info {
    flex: 1;

    .title {
      font-size: 0.85rem;
    }

    .count {
      font-size: 0.65rem;
    }
  }
}
