.item {
  display: flex;
  align-items: center;
  gap: 15px;

  .img {
    width: 35px;
    height: 35px;
    border-radius: 8px;
  }

  .info {
    flex: 1;

    .title {
      font-size: 0.9rem;
      font-weight: 500;
    }

    .count {
      font-size: 0.7rem;
      font-weight: 500;
      color: var(--bg-gray600);
    }
  }
}
