.menu {
  position: absolute;
  border: 2px solid gold;
  top: 0;
  right: 0;
  width: 100%;
  height: 200px;
  overflow-y: auto;

  .focus {
    background-color: violet;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 15px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
