.chip {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: var(--box-border-radius);
  background-color: var(--bg-gray200);
  border: 2px solid transparent;

  .closeIcon {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--bg-gray500);

    transition: var(--transition);

    &:hover {
      color: var(--bg-gray600);
    }
  }
}

.focus {
  border: 2px solid black;
}
